header.major
    h2 Music

h2 Greg Ruby Quintet
p
    img(src="/images/greg.jpg" alt="Greg")
    p Composer and guitarist Greg Ruby is a distinctive voice in the Hot Club jazz tradition. His 2010 CD, Look Both Ways, celebrated the 100th birthday of gypsy jazz guitarist Django Reinhardt with 12 original compositions, and reached #1 on the Roots Music Review’s jazz chart. His compositions have appeared in both television and documentaries including NBC’s Parks and Recreation.  As a former member of the group, Pearl Django, Greg spent five years performing and touring throughout the United States, Canada and Europe and appeared with the group at the prestigious Django Reinhardt Festival in Samois sur Seine, France. As founding member of the hot jazz string band, Hot Club Sandwich, Greg can be heard on all four of the band’s recordings and produced their 2010 release, And If Only, featuring legendary vocalist Dan Hicks.  In 2014, he received an funding from King County’s 4Culture to create and record new work for a prohibition era Jazz dance band.  The project was debuted at Seattle’s historic Washington Hall during the 2014 Seattle Lindy Exchange.  Currently, he leads his own group The Greg Ruby Quintet, collaborates with New York and New Orleans musicians on a project called The Rhythm Runners, and performs European cafe jazz with the Bric-a-brac Musette Trio.

h2 Head DJ
p
    img(src="/images/dan.jpg" alt="Dan")
    p Daniel Newsome is a jazz music and dance enthusiast from Seattle, Washington. Daniel played music for dancers 3 nights a week at the Mercury Cafe in Denver for over 8 years, where he built a substantial music collection and perfected his style of DJing which is to play a large variety of music, always looking for rare and amazing tunes. He loves Rockabilly, Blues of all styles, Soul, Gospel, Jazz of all kinds and Gypsy music, but his strongest love is for 30s and 40s Swing, played hot. Daniel can be found DJing the occasional exchanges, LindyGroove, or venues around Seattle. His favorite thing to do is the keep the floor packed and brings music that inspires improvisation, party atmosphere and fun for all levels of dancers.
